@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 70%;

    margin: 0px auto 0px auto;
    background-color: rgba(245, 245, 220, 0.2);
}

header {
    margin: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 400px;
    height: 120px;

    cursor: pointer;
}

.leftddabong {
    height: 120px;
    width: 120px;
}

.home {
    margin-left: 100px;
}

.intro_team {
    height: 100px;
    border-radius: 15px;

    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(144, 238, 144, 0.5);
}

.write {
    width: 120px;

    margin-top: 30px;
    margin-left: auto;
}

.writebtn {
    width: 120px;

    font-size: 20px;
}

.card-group {
    margin-top: 10px;
    margin-bottom: 50px;
}

.cards {
    width: 100%;
    margin-top: 10px;
}

.col {
    width: 20%;
}

.card-group .card {
    cursor: pointer;
}

.card-group .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.card-name {
    text-align: center;
}

.card-mbti {
    text-align: center;
}

.modal-fade {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    width: 900px;
    height: 100%;
}

.modal-body {
    display: grid;
    justify-content: center;
    align-items: center;
}

.modal-body .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer {
    display: flex;
    justify-content: start;
    align-items: center;
}

.modal-footer .btn {
    width: 80px;
    height: 40px;
    font-size: 18px;
}

.sub-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-image-group {
    width: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-image-group .btn {
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5px;
}

.writeimg {
    width: 225px;
    height: 300px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px gray inset;
}

#image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.writeinform {
    width: 600px;

    margin: 0px auto 0px auto;
}

.inputname {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.password-group .col-auto {
    display: flex;
    justify-content: center;
    align-items: center;
}